header
  nav.navbar.navbar-expand-lg
    .container-fluid
      a.navbar-brand(href='#')
        img(src="images/adidas-brand.png" class="mr-2" width="67" height="45" alt="Logo")
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(aria-current='page', href='#') Home
          li.nav-item
            a.nav-link(href='#') Features
          li.nav-item
            a.nav-link(href='#') Suberstar
          li.nav-item
            a.nav-link(href='#') Gallery
          li.nav-item
            a.nav-link(href='#') Order
          li.nav-item
            button.btn(type="button") Shop Now
  .intro-text
    h3 Test Text