header
  nav.navbar.navbar-expand-lg
    .container-fluid
      a.navbar-brand(href='#')
        img(src="images/Nike-logo.png" class="mr-2" width="75" height="25" alt="Logo")
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.mb-2.mb-lg-0
          li.nav-item.active
            a.nav-link(aria-current='page', href='#') Home
          li.nav-item
            a.nav-link(href='#') Features
          li.nav-item
            a.nav-link(href='#') Suberstar
          li.nav-item
            a.nav-link(href='#') Gallery
          li.nav-item
            a.nav-link(href='#') Order
          li.nav-item
            button.btn(type="button") Shop Now
  .intro
    .container-fluid
      .row
        .col-6
          .info
            h1 Inspired Sneakers <br> with Technical <br> Looks.
            p.lead
              | Inspired Sneakers with Technical Looks
              | One-half of the adidas NMD R1 Primeknit
              | "Tri-Color" Pack, this clean take on 2016's most
              | woven Primeknit features a Core Black-tinted
              | woven Primeknit upper. A white Boost midsole
              | balance out the shoe.
            button.btn More Details
        .col-6
          .image
            img(src="images/Nike-blue.png", alt="")
          //- .colors-option
          //-   ul.color-switcher.black.list-unstyled
          //-     li.active(data-color="black")
          //-     li(data-color="blue")
          //-     li(data-color="green")
          //-     li(data-color="orange")
          //-     li(data-color="red")