header {
  background-color: #232323;
  // background: linear-gradient(360deg, #eb6c70 0%,#2f71c9 100% );
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  .navbar-nav {
    .nav-item {
      .nav-link {
        padding: 8px 16px;
      }
      &.active .nav-link {
        color: #FFF;
        opacity: 1;
      }
      .nav-link, button {
        color: #FFF;
        font-weight: bold;
        opacity: .7;
        transition: .5s;
        &:hover {
          opacity: 1;
        }
      }
      button {
        border: 1px solid #FFF;
      }
    }
  }
  .intro {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;
    .info {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      padding: 15px;
      h1 {
        font-weight: bold;
        font-size: 3rem;
      }
      p {
        font-size: 1.3em;
      }
    }
    .image {
      // background-color: rgba(#080, .5);
      img {
        width: 85%;
        height: 85%;
        transform: rotateZ(-20deg);
      }
    }
  }
}